input:focus,
select:focus,
a:focus {
  outline: none;
}

body {
  background: url("./Assets/images/bottom-red-bg.jpg") center top no-repeat;
  background-color: #a40019;
  background-size: cover;
}

.container {
  width: 94%;
  margin: 0 auto;
}
.whitesection {
  background: #fff;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  min-height: 200px;
}
.pointer {
  cursor: pointer;
}
