header {
  color: #fff;
  font-size: 14px;
  position: fixed;
  left: 0;
  top: 0;
  width: 94%;
  padding: 10px 3%;
}
header div:nth-child(1) {
  display: inline;
}
.usericon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-bottom: -5px;
}
.name {
  text-transform: uppercase;
}
.email {
  float: right;
}
