header {
  color: #fff;
  font-size: 14px;
  position: fixed;
  left: 0;
  top: 0;
  width: 94%;
  padding: 10px 3%;
}
header div:nth-child(1) {
  display: inline;
}
header .icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-bottom: -5px;
}
header .icon:last-child {
  margin-left: 12px;
  margin-right: 0;
  margin-bottom: -7px;
}
header .username {
  text-transform: capitalize;
}
header .rightsec {
  float: right;
}